body {
  background-image: url("backgroundlegal.jpeg");
  background-size: 100%;
  margin: 0;
  padding: 0x;
  background-repeat: repeat-y;
}

.header {
  color: #3a1609;
  text-align: center;
  font-size: 7vw;
  font-weight: 500;
}

.subheading {
  text-align: center;
  font-size: 4vw;
  margin-top: 3%;
  color: #010000cf;
  font-weight: 500;
}

.topnav {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  display: flex;
  overflow: hidden;
  background-color: #d4d1d4bd;
  top: 0;
  width: 100%;
}

/* Style the links in the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #582013;
  text-align: center;
  padding: 14px 16px;
  font-size: 11px;
  text-decoration: none;
}

/* Change color of links on hover */
.topnav a:hover {
  background-color: #5f5959a4;
  color: rgb(205, 185, 185);
}

/* Add an active class to the active link */
.active {
  background-color: #4d3b2445;
}

/* Center the "Summarize" text */
.topnav .center {
  flex: 1;
  display: block;
  color: #000000;
  text-align: center;
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 14px 16px;
  font-size: 13px;
  text-decoration: none;
}

/* Right-align the "About Us" link */
.topnav a.right {
  float: right;
}
.Bottomcontainer,h1{
  color:#3a1609;
  padding: 1%;
  text-align: center;
}
.listofoffers ,a{
  text-decoration: none;
  color: #000000;
  justify-items: left;
  padding: 5%;
}