body{
  background-image: url(potraitimage.jpeg);
  background-size: 100%;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .topnav {
    position: -webkit-sticky;
    /* Safari */
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #d4d1d4bd;
    top: 0;
  }
  .topnav .left{
    float: left;
  }
  .topnav a{
    text-decoration: none;
    padding: 5px 15px;
    color: #582013;
  }
  .topnav .right{
    float: right;
    background-color: #4d3b2445;
  }
  .topnav a:hover {
    background-color: #5f5959a4;
    color: rgb(205, 185, 185);
  }
  .flex-parent-element{
    display:flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .flex-child-element_Input{
    display: flex;
    flex: 1;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .flex-child-element_Input h2{
    display: block;
    font-size: 5vw;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .inputboxcontainer{
    flex: 1;
    padding: 1px;
  }
  #input-text{
    resize: none;
    width: 300px;
    height:200px;
    scrollbar-track-color: black;
    scroll-behavior: smooth;
  }
  .flex-child-element_Output{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  .flex-child-element_Output h2{
    display: block;
    font-size: 5vw;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .outputboxcontainer{
    border:1px solid black;
    width: 300px;
    height:200px;
    scroll-behavior: auto;
  }
  .buttoncontainer{
    display: block;
    text-align: center;
    padding: 10px;
  }
  
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .topnav {
    position: -webkit-sticky;
    /* Safari */
    position:relative;
    display: block;
    overflow: hidden;
    background-color: #d4d1d4bd;
    top: 0;
  }
  .topnav .left{
    float: left;
  }
  .topnav a{
    text-decoration: none;
    padding: 10px 15px;
    color: #582013;
  }
  .topnav .right{
    float: right;
    background-color: #4d3b2445;
  }
  .topnav a:hover {
    background-color: #5f5959a4;
    color: rgb(205, 185, 185);
  }
  .flex-parent-element{
    display:flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }
  .flex-child-element_Input{
    display: flex;
    flex: 1;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .flex-child-element_Input h2{
    display: block;
    font-size: 4vw;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .inputboxcontainer{
    flex: 1;
    padding: 1px;
  }
  #input-text{
    resize: none;
    width: 500px;
    height:300px;
    scrollbar-track-color: black;
    scroll-behavior: smooth;
  }
  .flex-child-element_Output{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  .flex-child-element_Output h2{
    display: block;
    font-size: 4vw;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .outputboxcontainer{
    border:1px solid black;
    background-color: rgba(251, 251, 251, 0.868);
    width: 500px;
    height:300px;
    scrollbar-track-color: black;
    scroll-behavior: smooth;
  }
  .buttoncontainer{
    display: block;
    text-align: center;
    padding: 10px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  body {
    background-image: url(backgroundlegal.jpeg);
    background-repeat: repeat-y;
  }
  .topnav {
    position: -webkit-sticky;
    /* Safari */
    position:relative;
    font-size: 1.5vw;
    display: block;
    overflow: hidden;
    background-color: #4d3b2445;
    top: 0;
  }
  .topnav .left{
    float: left;
  }
  .topnav a{
    text-decoration: none;
    padding: 10px 15px;
    color: #582013;
  }
  .topnav .right{
    float: right;
  }
  .topnav a:hover {
    background-color: #5f5959a4;
    color: rgb(205, 185, 185);
  }
  .flex-parent-element{
    display:flex;
    padding: 15px;
    flex-direction: row;
    align-items: center;
  }
  .flex-child-element_Input{
    display: flex;
    flex: 1;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .flex-child-element_Input h2{
    display: block;
    font-size: 3vw;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .inputboxcontainer{
    flex: 1;
    padding: 1px;
  }
  #input-text{
    resize: none;
    width: 500px;
    height:400px;
    scrollbar-track-color: black;
    scroll-behavior: smooth;
  }
  .flex-child-element_Output{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  .flex-child-element_Output h2{
    display: block;
    font-size: 3vw;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

  }
  .outputboxcontainer{
    flex: 1;
    padding: 1px;
    border:#000000 solid 1px;
    max-height: 400px;
    background-color: rgba(255, 255, 255, 0.668);
    overflow-y: scroll;
  }
  #summary{
    resize: none;
    width: 500px;
    height:400px;
    scrollbar-track-color: black;
    scroll-behavior: smooth;
  }
  .buttoncontainer{
    display: block;
    text-align: center;
    padding: 10px;
  }
  #summarize-button{
    font-size: 1.5vw;
    font-weight: 500;
  }
}
